{
  "extends": ["alloy", "alloy/react", "alloy/typescript"],
  "plugins": ["react-hooks", "import", "prefer-arrow"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "import/export": 0,
    // * ================== react hooks
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    // * ================== lines
    "max-lines": ["warn", 120],
    "max-lines-per-function": ["warn", 60],
    // * =================== arrow func
    "prefer-arrow/prefer-arrow-functions": [
      "warn",
      {
        "disallowPrototype": true,
        "singleReturnOnly": false,
        "classPropertiesAllowed": false
      }
    ],
    "prefer-arrow-callback": ["warn", { "allowNamedFunctions": true }],
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }]
  }
}
